<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.con {font-size:12px; color:#1C1C1C; line-height:26px; }
</style>
</head>

<body>
<table width="851" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="middle"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_02.jpg" width="206" height="64" /></td>
            <td width="589" align="center" valign="middle"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay_05-1.jpg" width="565" height="50" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="padding-bottom:10px" ><img src="http://www.loftk.com.cn//moban/loftk_new/html/images/banner.jpg" height="204" width="851" /></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="201" align="left" valign="top" style="padding-right:3px"><table width="201" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay_02.jpg" width="201" height="37" /></td>
              </tr>
              <tr>
                <td height="284"  style="border-left:1px #dfdfdf solid;border-right:1px #dfdfdf solid"><table width="167" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding:10px 0px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay_11.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_21.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay_16.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_25.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay_20-1.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_29.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_33.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_37.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_39.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_43.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:10px"><a href="http://stores.ebay.com/LKTown-Outlet/Security-/_i.html?_fsub=2856038010&_sid=1068094960&_trksid=p4634.c0.m322"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_48.jpg" width="167" height="144" border="0" /></a></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="15" align="left" valign="top"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_52.jpg" width="201" height="15" /></td>
              </tr>
            </table></td>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding-bottom:10px"><table width="411" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_11.jpg" width="411" height="37" /></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="con" style="padding-top:10px;padding-left:10px">[template.description]</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="padding-bottom:10px"><table width="411" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_30.jpg" width="411" height="37" /></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="con" style="padding-top:10px;padding-left:10px"> More reliable quality than other OEM products; <br/>
                          Reasonable and competive price; <br/>
                          Professional tech support via ebay mail and website; <br/>
                          Multi-channel communication: via ebay or our website (Google Search LKTOWN); <br/>
                          Better money back policy;
                          </p>
                          <p > </p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="padding-bottom:10px"><table width="411" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay_25-1.jpg" width="411" height="37" /></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="con" style="padding-top:10px;padding-left:10px"> Loftek Promise: With purchasing Loftek product, you could enjoy a free test of 
                          half a month. If item is found not satisfactory in this period, return with no reason
                          and get your money back. And your feedback of product is appreciated. <br/>
                          If you are not satisfied with our product(s), please email us to obtain a Return <br/>
                          Merchandise Authorization (RMA) Number.
                          (Unless otherwise specified, our warranty covers products for one full year from
                          the date of original purchase under normal use. Replacement items, if issued, 
                          do not restart or in any way extend the warranty period. )
                          <p > </p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="padding-bottom:10px"><table width="411" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_40.jpg" width="411" height="37" /></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="con" style="padding-top:10px;padding-left:10px"> We only accept payment via PayPal. We charge sales tax for items shipped to 
                          California addresses (9.25%) <br/>
                          Buyer needs to pay their own tariffs. <br/>
                          Canadian customers, please provide your contact number along with your payment.
                          <p > </p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="padding-bottom:10px"><table width="411" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_50.jpg" width="411" height="37" /></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="con" style="padding-top:10px;padding-left:10px">More reliable quality than other OEM products;
                          Reasonable and competive price;
                          Professional tech support via ebay mail and website;
                          Multi-channel communication: via ebay or our website (Google Search LKTOWN);
                          Better money back policy;
                          </p>
                          <p > </p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td style="padding-bottom:10px"><table width="411" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_54.jpg" width="411" height="37" /></td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="con" style="padding-top:10px;padding-left:10px">If you have any questions, please feel free to email us via eBay. More info on <br/>
                          Google Search &quot;LKTOWN&quot; and &quot;LOFTEK.US&quot; .
                          <p > </p></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="230" align="right" valign="top" style="padding-left:3px"><table width="229" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="230" align="right"><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/ebay0816-2_13.jpg" width="230" height="37" /></td>
              </tr>
              <tr>
                <td width="230" style="border-right:1px #dfdfdf solid; border-left:1px #dfdfdf solid"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>[template.gallery]</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="http://i883.photobucket.com/albums/ac38/leowarehouse/d.jpg" width="230" height="15" /></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<center>
<img src="http://pics.ebay.com/aw/pics/sell/templates/images/k2/tagline.gif" border="0">
<br>
<font face="Arial,Helvetica" size="2">Powered by <a href="http://pages.ebay.com/turbo_lister/">eBay Turbo Lister</a>
<br>The free listing tool. List your items fast and easy and manage your active items.
</font>
</center>
</body>
</html>
